/* Mobile styles */
#nav-container {
  /* height: 70px; */
  border: 1px solid black;
  background-color: white;
  z-index: 100;
}

.top-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px auto;
}

.top-container > img {
  display: flex;
  justify-self: center;
  height: 60px;
}

#hamburger, .top-container > img  {
  display: flex;
  justify-self: center;
  align-self: center;
}

/* Navlinks */
.nav-content {
  grid-row: 2/3;
  border: 1px solid black;
  background-color: white;
  height: 400px;

  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8)
 
  
}

.nav-links {
  /* background-color: white; */
  width: 100%;
  z-index: 100;
}

.nav-links > li {
  list-style-type: none;
  margin: 20px;
}

.nav-links > li > a {
  z-index: 100;
  text-decoration: none;
  padding: 20px;
  color: #e38f84;
}

.nav-links > li > a:hover {
  background-color: aquamarine;
}

.search {
  z-index: 100;
  padding: 20px;
  display: flex;
}

.search > * {
  background-color: white;
  height: 20px;
  padding: 5px;
}
.search > .search-icon, .search > input {
  border: 1px solid white;
}

/* Overlay section */
.overlay {
  padding: 100px 20px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.button-container {
  display: flex;
  justify-content: end;

}

.button-container > button {
  margin-right: 10px;
  background-color: #e38f84;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
