#main-container {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div#hamburger {
    margin: 0 auto;
    padding: 5px;
}

#main-container img {
    height: 40px;
    padding: 10px 10px 10px 30px;
}

ul {
    grid-column: 1/3;
    padding: 0;
    margin: 0;
    background-color: white;
    z-index: 100;
}

ul li {
    list-style-type: none;
    padding: 30px;
    text-align: center;

}

ul li a {
    color: black;
    padding: 30px;
    text-decoration: none;
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
    #main-container {
        height: 60px;
        display: block;
    }

    div#hamburger {
        display: none;
        grid-row: 2/2;
    }

    ul {
        display: inline;
    }

    ul li {
        display: inline;
        grid-column: 2/2;
      
        padding: 4px;
    }
    
  }